/*
Carousel
==================
*/
.carousel--case-study .carousel__container,
.post-block-carousel .carousel__container {
    height: 300px;

    @include breakFirst($screen-sm) {
        height: 400px;
    }

    @include breakFirst($screen-md) {
        height: 500px;
    }

    .flickity-viewport {
        height: 100% !important;
    }

    .flickity-page-dots {
        bottom: 8%;
    }

    .carousel__image, .carousel__video {
        width: 100%;

        @include breakFirst($screen-md) {
            width: 80%;
            margin-right: 10px;
        }
    }

    .carousel__image figure {
        margin-bottom: 0;
    }
}

.carousel--case-study .carousel__container .carousel__image,
.carousel--case-study .carousel__container .carousel__video {
    @include breakFirst($screen-md) {
        max-width: 940px;
        transform: translateX(-8%);
    }
}

.post-block-carousel .carousel__container .carousel__image {
    width: 100%;
}

.carousel--case-study-video {
    height: auto;
    .carousel__video {
        position: relative;
        height: 100%;

        video {
            object-fit: cover;
        }
    }
}


/*
Content List
==================
*/

.content-list {
    &__title {
        border-bottom: 1px solid $black;
        margin-bottom: 15px;
    }

    &__logo-grid {
        margin: 0;
        border-bottom: 1px solid $black;
        &:last-child {
            border-bottom: 0;
        }
        
        
    }

    &__logo-grid .logo-grid-item {
        border-bottom: 1px solid $black;
        &:nth-child(odd) {
            border-right: 1px solid $black;
        }
        &:nth-last-child(-n+2) {
            border-bottom: 0;
        }

        @include breakFirst($screen-sm) {
            border-right: 1px solid $black;
            &:nth-child(-n+2) {
                border-bottom: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }

        figure {
            margin: 0;
        }

        figure picture {
            display: block;
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
        }

        figure picture img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: contrast(0) brightness(0);

        }   
    }

    &__text-list {
        ul {
            padding: 0;
            list-style-type: none;
        }

        ul li {
            @include font-size(20);
        }
    }
}


/*
Features
==================
*/

.feature {
    height: auto;
    position: relative;

    &--w-video {

        .feature__video {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 55vw;
            overflow: hidden;
            transform: scale(1);
            transform-origin: 50% 0;
            transition: transform 0.5s $cbTrans;
        }

        @include breakFirst($screen-md) {
            height: 60vw;
            overflow: hidden;

            .feature__video {
                top: 5vw;
            }

            &:hover .feature__overlay {
                opacity: 1;
                visibility: visible;
                padding: 0 !important;
    
                .feature__col {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }
            }

            .feature__video {
                transform: scale(0.7);
                box-shadow: 0 50px 50px rgba(0,0,0,0.5);
            }
        }

        &:hover {
            padding: 0;
            .feature__video {
                top: 0;
                transform: scale(1.1);
            }
        }
    }
    
}


/*
Grid Sort
==================
*/

.grid-sort-nav {
    padding: 0 15px;

    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    &__list .btn {
        margin-right: 10px;
        margin-bottom: 10px;

        &.active {
            background-color: $gray1;
            color: $white;
        }
    }
}


.image-banner__container {
    height: 300px;

    @include breakFirst($screen-sm) {
        height: 400px;
    }

    @include breakFirst($screen-md) {
        height: 500px;
    }

}


/*
Hero
==================
*/

.hero {
    position: relative;
    height: auto;


    .hero__wrapper {
        position: relative;
        top: 94px;

        @include breakFirst($screen-md) {
            top: 10%;

            .hero__col--text h1 {
                @include font-size(84);
            }
        }
    }

    &--black {
        background-color: $black;
        color: $white;

        a, a:hover {
            color: $white;
        }

        a span.link__arrow {
            background-color: $white;
        }

        a span.link__arrow:after {
            border-color: $white;
        }
    }

    // Case Study Video
    &--case-study-video {
        position: relative;
        height: 85vh;
        overflow: hidden;

        .hero__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
        }
        
        &-vimeo {
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
        }

        video, iframe, embed {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    

    &--case-study-img {
        position: relative;
        height: fit-content;
        overflow: hidden;

        @include breakFirst($screen-sm) {
            height: 75vh;
        }
        
        figure {
            margin-bottom: 0;
        }

        figure picture {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
    
        figure picture img {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            object-fit: contain;
    
        }
    }

    &--w-image {
        height: 80vh;

        figure {
            margin-bottom: 0;
        }

        figure picture {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
    
        figure picture img {
            display: block;
            position: relative;
            width: 80%;
            height: auto;
            object-fit: contain;
    
        }
    }
}

/*
Post Video
==================
*/

.post-block-video {
    .video__container {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}




