

a.btn, .btn,
input[type="button"] {
    cursor: pointer;
    display: flex;
    width: auto;
    padding: 16px 20px;
    @include buttonColorStyle($white, $gray1);
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    @include font-size(20);
    @include line-height(22);

    @include breakFirst($screen-sm) {
        width: fit-content;
    }

    &--gray-1 {
        @include buttonColorStyle($gray1, $white);

        &-solid {
            @include buttonColorStyleSolid($gray1, $white);
        }
    }

    &--fit-content {
        width: fit-content;
    }

    .btn__text {
        text-align: left;
        margin-right: 75px;
    }

    .btn__arrow {
        display: block;
        width: 16px;
        height: 1px;
        
        &:after {
            content: '';
            display: inline-block;
            position: relative;
            width: 11px;
            height: 11px;
            border-top: 0;
            border-left: 0;
            transform: translateY(-11px) translateX(3px) rotate(-45deg);
        }
    }


}

a.link--w-arrow {
    display: flex;
    align-items: center;
    width: auto;
    width: fit-content;
    text-decoration: none;
    transform-origin: -50% 0;
    @include font-size(18);

    span.link__arrow {
        display: block;
        width: 10px;
        height: 1px;
        background-color: $black;
        margin-right: 5px;
        transition: width 0.3s $cbTrans;
    }

    span.link__arrow:after {
        display: block;
        content: '';
        width: 5px;
        height: 5px;
        border: 1px solid $black;
        position: relative;
        transform: translate(5px, -2px) rotate(45deg);
        border-left: 0;
        border-bottom: 0;
        transition: transform 0.3s $cbTrans;
    }

    &-white {
        color: $white;
        display: flex;
        align-items: center;
        width: auto;
        width: fit-content;
        text-decoration: none;
        @include font-size(18);

        span.link__arrow {
            display: block;
            width: 10px;
            height: 1px;
            background-color: $white;
            margin-right: 5px;
            transition: width 0.3s $cbTrans;
        }
    
        span.link__arrow:after {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            border: 1px solid $white;
            position: relative;
            transform: translate(5px, -2px) rotate(45deg);
            border-left: 0;
            border-bottom: 0;
            transition: transform 0.3s $cbTrans;
        }

        &:hover {
            text-decoration: none;
    
            span.link__arrow {
                width: 15px;
            }
    
            span.link__arrow:after {
                transform: translate(10px, -2px) rotate(45deg);
            }
        }
    }

    &:hover {
        color: $black;
        text-decoration: none;

        span.link__arrow {
            width: 15px;
        }

        span.link__arrow:after {
            transform: translate(10px, -2px) rotate(45deg);
        }
    }
}
