a.btn {
    display: flex;
    width: auto;
    padding: 16px 20px;
    border: 1px solid $white;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    @include font-size(20);
    @include line-height(22);

    @include breakFirst($screen-sm) {
        width: fit-content;
    }

    .btn__text {
        color: $white;
        text-align: left;
        margin-right: 75px;
    }

    .btn__arrow {
        display: block;
        width: 16px;
        height: 1px;
        background-color: $white;
        

        &:after {
            content: '';
            display: inline-block;
            position: relative;
            width: 11px;
            height: 11px;
            border: 1px solid $white;
            border-top: 0;
            border-left: 0;
            transform: translateY(-11px) translateX(3px) rotate(-45deg);
        }
    }


}

a.link--w-arrow {
    display: flex;
    align-items: center;
    width: auto;
    width: fit-content;
    text-decoration: none;

    &:hover {
        color: $black;
        text-decoration: none;
    }

    span.link__arrow {
        display: block;
        width: 10px;
        height: 1px;
        background-color: $black;
        margin-right: 5px;
    }

    span.link__arrow:after {
        display: block;
        content: '';
        width: 5px;
        height: 5px;
        border: 1px solid $black;
        position: relative;
        transform: translate(5px, -2px) rotate(45deg);
        border-left: 0;
        border-bottom: 0;
    }

    &-white {
        color: $white;
        display: flex;
        align-items: center;
        width: auto;
        width: fit-content;
        text-decoration: none;

        span.link__arrow {
            display: block;
            width: 10px;
            height: 1px;
            background-color: $white;
            margin-right: 5px;
        }
    
        span.link__arrow:after {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            border: 1px solid $white;
            position: relative;
            transform: translate(5px, -2px) rotate(45deg);
            border-left: 0;
            border-bottom: 0;
        }

        
    }
}