/* Components */

/*
Hero
==================
*/

// Text Hero
.hero__col--text h1.f--headline {
    @include font-size(48);

    @include breakFirst($screen-md) {
        @include font-size(63);
    }
}

.hero__col--links {
    ul.link__list {
        list-style: none;
        padding: 0;
    }
}

// Post Hero
.post__hero figure picture {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 35%;
}

.post__hero figure picture img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
Feature
==================
*/
.feature--w-video .feature__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: $white;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s $cbTrans, visibility 0.3s $cbTrans;
    @include background-opacity($black, 0.5);

    .feature__col {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        transition: transform 1s $cbTrans, opacity 1s $cbTrans, visibility 1s $cbTrans;
    }

    @include breakFirst($screen-md) {
        visibility: hidden;
        opacity: 0;

        .feature__col {
            transform: translateY(60px);
            visibility: hidden;
            opacity: 0;
        }
    }
}

/*
Teasers
==================
*/

// Teaser - Flex
.teaser--flex .teaser__col {
    padding: 0;
}

.teaser--flex .teaser__col--text a.f--label {
    display: block;
    width: auto;
    width: fit-content;
    background-color: $black;
    color: $white;
    padding: 6px 10px;

    &:hover {
        text-decoration: none;
    }

}

.teaser--flex .teaser__col h3 {
    display: block;
    width: 85%;
}

// Teaser Header
.teaser-header h2 {
    display: block;
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:after {
        content: '';
        display: block;
        width: 100%;
        position: relative;
        text-decoration: underline;    
    }
}

.teaser-header__col p {
    display: block;
    max-width: 370px;
}

.teaser-group .teaser {
    padding: 0;
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakFirst($screen-sm) {
        &:first-child {
            padding-right: 15px;
            padding-left: 0;
        }

        &:last-child {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    
}
