/* Components */

.careers {
    .career__title-list ul {
        list-style-type: none;
    }

    .career__title-list ul li {
        cursor: pointer;

        &.active {
            font-weight: 700;
        }
    }

    .career__desc {
        position: relative;
       

    }

    .career__desc-container {
        // padding-left: 0;
        // padding-right: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        height: auto;
        // transform: translateY(0px);

        &.active {
            opacity: 1;
            visibility: visible;
            
        }
       
        ul {
            padding-left: 15px;
        }
    } 
}

.carousel--content {
    height: auto;

    .carousel__slide {
        width: 100%;
    }

    .carousel__slide .carousel__img figure picture {
        padding-bottom: 45vw;
    }
}

/*
Case Studies
==================
*/

.case-study__meta {

    .list-container ul {
        display: block;
        list-style: none;
        padding: 0;
    }

    .list-container ul li {
        display: inline-block;

        &:after {
            content: ' / ';
        }

        &:last-child::after {
            content: '';
        }

    }
}


/*
Case Study Collection
=====================
*/

.collection__list {
    ul li {
        border-top: 1px solid $black;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: 1px solid $black;
        }

        

        a {
            @include font-size(20);
            text-decoration: 0;
            display: flex;
            align-items: center;

            span.arrow {
                display: block;
                width: 10px;
                height: 1px;
                background-color: $black;
                margin-right: 5px;
                transition: width 0.3s $cbTrans;
            }
    
            span.arrow:after {
                display: block;
                content: '';
                width: 5px;
                height: 5px;
                border: 1px solid $black;
                position: relative;
                transform: translate(5px, -2px) rotate(45deg);
                border-left: 0;
                border-bottom: 0;
                transition: transform 0.3s $cbTrans;
            }

        }

        a:hover {
            color: $black;
        }
    }
}

.collection__grid {
    
    span {
        @include font-size(20);
    }

    @include breakFirst($screen-md) {
        .img--wide-cover figure picture {
            padding-bottom: 75.25%;
        }
    }
}


/*
Contact Form
==================
*/

.contact-form h3 {
    text-align: center;
    display: block;
    margin-bottom: 60px;

    @include breakFirst($screen-md) {
        @include font-size(54);
    }
}

.contact-form .nf-form-wrap {
    max-width: 90%;
    margin: auto;
}

.contact-form .nf-field-label {
    margin: auto;
}

.contact-form .nf-field-element input[type="email"] {
    border-radius: 0;
    border: 1px solid $gray1;
    appearance: none;
    padding: 15px;

}

.contact-form .nf-field-label {
    display: none;
}

.contact-form .field__wrapper--inline-submit {
    .nf-form-content  {
        position: relative;
    }

    nf-field .nf-field-container {
        margin-bottom: 0;
    }

    nf-field .submit-container {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 15px;
        transform: translateY(12px);

        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            top: 11px;
            left: 8px;
            transform: rotate(45deg);
            border: 1px solid $gray3;
            border-left: 0;
            border-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            height: 1px;
            background-color: $gray3;
            top: 14px;
            left: 0;
        }
    }

    nf-field .submit-container input[type="button"] {
        display: block;
        appearance: none;
        border: 0;
        text-indent: -999px;
        color: transparent;
        width: 28px;
        height: 28px;
        background-color: transparent;
        overflow: hidden;
    }
}

/*
Hero
==================
*/

// Text Hero
.hero__col--text h1.f--headline {
    @include font-size(48);

    @include breakFirst($screen-md) {
        @include font-size(63);
    }
}

.hero__col--links {
    ul.link__list {
        list-style: none;
        padding: 0;
    }
}

// Post Hero
.post__hero figure picture {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 35%;
}

.post__hero figure picture img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero--blog {
    height: auto;

    .img--wide-cover figure picture {
        padding-bottom: 75%;
    }
}

/*
Feature
==================
*/
.feature--w-video .feature__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: $white;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s $cbTrans, visibility 0.3s $cbTrans;
    @include background-opacity($black, 0.5);

    .feature__col {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        transition: transform 1s $cbTrans, opacity 1s $cbTrans, visibility 1s $cbTrans;
    }

    @include breakFirst($screen-md) {
        visibility: hidden;
        opacity: 0;

        .feature__col {
            transform: translateY(60px);
            visibility: hidden;
            opacity: 0;
        }
    }
}


/*
Grid Sort
==================
*/

.grid-sort__wrapper {
    width: calc(100% - 15px);
    .grid-sizer,
    .grid-item {
        width: 100%;

        @include breakFirst($screen-md){ 
            width: 20%;
        }
    }
    .grid-item {
        float: left;
        transform: translateX(-15px);
        margin-bottom: 30px;
        
        &--xl {
            width: 100%;
            left: 0;
            right: 0;

            .img--wide-cover figure picture{
                padding-bottom: 42%;
            }

            @include breakFirst($screen-md) {
                width: calc(100% - 15px);
            }


        }

        &--lg {
            width: 100%;

            .img--wide-cover figure picture{
                padding-bottom: 48%;
            }


        }

        &--lg-4 {
            width: 100%;
            

            @include breakFirst($screen-md) {
                width: 75%;
                left: auto !important;
                right: 0;
            }
        }
        
        &--lg-7 {
            width: 100%;
            

            @include breakFirst($screen-md) {
                width: 75%;
            }
        }

        &--md-2 {
            @include breakFirst($screen-md) {
                width: 50%;

                .img--wide-cover figure picture{
                    padding-bottom: 75.25%;
                }
            }
        }

        &--md-6 {
            @include breakFirst($screen-md) {
                width: 50%;
                left: auto !important;
                right: 0;

                .img--wide-cover figure picture{
                    padding-bottom: 75.25%;
                }
            }
        }

        &--sm {
            @include breakFirst($screen-md) {
                width: 33%;
                transform: translateY(45px);

                .img--wide-cover figure picture{
                    padding-bottom: 75.25%;
                }
            }
        }


    }
}

/*
Teasers
==================
*/

// Teaser - Flex
.teaser--flex .teaser__col {
    padding: 0;
}

.teaser--flex .teaser__col--text a.f--label {
    display: block;
    width: auto;
    width: fit-content;
    background-color: $black;
    color: $white;
    padding: 6px 10px;

    &:hover {
        text-decoration: none;
    }

}

.teaser--flex .teaser__col h3 {
    display: block;
    width: 85%;
}

// Teaser Header
.teaser-header h2 {
    display: block;
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:after {
        content: '';
        display: block;
        width: 100%;
        position: relative;
        text-decoration: underline;    
    }
}

.teaser-header__col p {
    display: block;
    max-width: 370px;
}

.teaser-group .teaser {
    padding: 0;
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakFirst($screen-sm) {
        &:first-child {
            padding-right: 15px;
            padding-left: 0;
        }

        &:last-child {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    
}


