// Colors
$white: #ffffff;
$black: #000000;

$white1: #F0F0F0;

$gray1: #282829;
$gray2: #282828;
$gray3: #767676;

$red: #D42022;
$green: #19231A;


// Typography
$fontFamily: 'mr-eaves-xl-modern', sans-serif !default;

$baseFontSize: 18px !default;
$baseFontFamily: $fontFamily !default;
$baseLineHeight: 1.4 !default;
$baseMargin: 24px;

$headingsFontFamily: $fontFamily !default;
$headingsFontWeight: 300 !default;
$headingsColor: inherit !default;

// Cubic Bezier
$cbTrans: cubic-bezier(.83,-0.01,.66,1);

// Breakpoints
// Extra extra small screen / phone
$screen-xxs:                 321px !default;
$screen-phone:               $screen-xxs !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Medium-Large screen / desktop
$screen-mdlg:                  1100px !default;
$screen-desktop:             $screen-mdlg !default;

// Large screen / wide desktop
$screen-lg:                  1220px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;
$screen-mdlg-max:            ($screen-mdlg - 1) !default;